<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/partners">Törzsadatok</a></li>
        <li routerLinkActive="active"><a routerLink="/drive-routes">útvonalak</a></li>
      </ul>
    </div>
  </div>
</nav>
