<div class="row">
  <div class="col-md-4">
    <form (ngSubmit)="finish(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-12">
          <label>távolság:</label>
          <input
            type="number"
            id="distance"
            class="form-control"
            name="distance"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>idő:</label>
          <input
            type="date"
            id="time"
            class="form-control"
            name="time"
            ngModel
            required>
        </div>
      </div>
      <div class="row pad">
        <div class="col-md-4">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">
            mentés
          </button>
        </div>
      </div>
      <hr>
      <a class="list-group-item list-group-item-danger"
         type="button"
         [routerLink]=path
         (click)="back()">
        vissza
      </a>
    </form>
  </div>
</div>
