<div class="row">
  <div class="col-md-4">
    <form (ngSubmit)="finish(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-12">
          <label>név:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>cím:</label>
          <input
            type="text"
            id="cím"
            class="form-control"
            name="address"
            ngModel
            required>
        </div>
      </div>
      <div class="row pad">
        <div class="col-md-4">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">
              mentés
          </button>
        </div>
      </div>
      <hr>
      <a class="list-group-item list-group-item-danger"
         type="button"
         routerLink="../../"
         (click)="back()">
        vissza
      </a>
    </form>
  </div>
</div>
