<div class="row" >
  <div class="col-md-4" *ngIf="visible">
    <h3>partner</h3>
    <hr>
    <div class="list-group">
      <a class="list-group-item list-group-item-success"
         routerLink="new"
         (click)="switchVisible()"
         type="button">
        új partner
      </a>
    </div>
    <hr>
    <div class="list-group"
         *ngFor="let partner of partner let i = index"
         [id]="i+1" >
      <a class="list-group-item"
         routerLinkActive="active"
         [routerLink]="i+1">
        <p>név : {{partner.name}} </p>
        <p>cím: {{partner.address}}</p>
      </a>
      <a class="list-group-item list-group-item-danger"
         [routerLink]="'edit/'+(i+1)"
         (click)="switchVisible()"
         type="button">
        szerkeszt
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


