<div class="row">
  <div class="col-md-4">
    <form (ngSubmit)="finish(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-12">
          <label>rendszám:</label>
          <input
            type="text"
            id="licensePlate"
            class="form-control"
            name="licensePlate"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>model:</label>
          <input
            type="text"
            id="model"
            class="form-control"
            name="model"
            ngModel
            required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>köbcentiméter:</label>
          <input
            type="number"
            id="cc"
            class="form-control"
            name="cc"
            ngModel
            required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>fogyasztás:</label>
          <input
            type="number"
            id="fuelConsumption"
            class="form-control"
            name="fuelConsumption"
            ngModel
            required>
        </div>
      </div>
      <div class="row pad">
        <div class="col-md-4">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid" >
            mentés
          </button>
        </div>
      </div>
      <hr>
      <a class="list-group-item list-group-item-danger"
         type="button"
         [routerLink]=path
         (click)="back()">
        vissza
      </a>
    </form>
  </div>
</div>

