<div class="container">
  <div class="row" *ngIf="visible">
    <div class="col-md-4"  >
      <h3>útvonal</h3>
      <hr>
        <div class="list-group">
          <a class="list-group-item list-group-item-success"
             routerLink="new"
             (click)="switchVisible()"
             type="button">
            új útvonal
          </a>
        </div>
      <hr>
      <div class="list-group" *ngFor="let driveRoutes of driveRoutes">
        <a class="list-group-item"
           routerLinkActive="active"
           *ngIf="driveRoutes.vehicle == licensePlate">
          <p>rendszám : {{driveRoutes.vehicle}}</p>
          <p>távolság: {{driveRoutes.length}}</p>
          <p>idő: {{driveRoutes.time}}</p>
          <p>partner: {{driveRoutes.partner}}</p>
        </a>
        <a *ngIf="driveRoutes.vehicle == licensePlate"
           class="list-group-item list-group-item-danger"
           [routerLink]="'edit/'+driveRoutes.time"
           (click)="switchVisible()"
           type="button">
              szerkeszt
        </a>
      </div>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>
