<div class="row">
  <div class="col-md-4">
    <hr>
    <h3>gépjármű útvonalak</h3>
    <hr>
    <ul class="list-group"
        *ngFor="let driveroutes of driveRoutes"
        (click)="calculateData(driveroutes.vehicle);">
      <button type="button" class="list-group-item">
        gépjármű: {{driveroutes.vehicle}} <br>
        időpont: {{driveroutes.time}} <br>
        partner: {{driveroutes.partner}} <br>
        távolság: {{driveroutes.length}} <br>
      </button>
    </ul>
  </div>
  <div class="col-md-4 fixed">
    <hr>
    <h3>szűrés</h3>
    <hr>
    <form (ngSubmit)="filterVehicle(h)" #h="ngForm">
      <div class="row">
          <label>rendszám:</label>
          <input
            type="text"
            id="licensePlate"
            class="form-control"
            name="licensePlate"
            ngModel
            required>
      </div>
      <div class="row pad">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!h.valid">
            szűrés
          </button>
      </div>
    </form>
    <form (ngSubmit)="filterDate(f)" #f="ngForm">
      <div class="row">
        <label>dátumtól:</label>
        <input
          type="date"
          id="startDate"
          class="form-control"
          name="startDate"
          ngModel
          required>
      </div>
      <div class="row">
        <label>dátumig:</label>
        <input
          type="date"
          id="endDate"
          class="form-control"
          name="endDate"
          ngModel
          required>
      </div>
      <div class="row pad">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!f.valid">
          szűrés
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-4 fixed">
    <hr>
    <h3>összegzés</h3>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">
        gépjármű: {{selectedVehicle}}<br>
        össz km: {{distanceSum}}<br>
        üzemanyag mennyiség: {{fuelSum}}<br>
      </li>
    </ul>
  </div>
</div>

