<div class="container">
  <div class="row">
    <div class="col-md-4" *ngIf="carVisible">
      <h3>gépjármű</h3>
      <hr>
      <div class="list-group">
        <a class="list-group-item list-group-item-success"
           routerLink="new"
           type="button"
           (click)="switchVisible()">
          új gépjármű
        </a>
      </div>
      <hr>
      <div class="list-group" *ngFor="let vehicle of vehicle">
        <a class="list-group-item"
           *ngIf="vehicle.partnerId == id"
           routerLinkActive="active"
           [routerLink]="vehicle.licensePlate">
          <p>rendszám : {{vehicle.licensePlate}}</p>
          <p>típus: {{vehicle.type}}</p>
          <p>köbcentiméter: {{vehicle.cc}}</p>
          <p>fogyasztás: {{vehicle.fuelConsumption}}</p>
        </a>
        <a *ngIf="vehicle.partnerId == id"
           class="list-group-item list-group-item-danger"
           [routerLink]="'edit/'+vehicle.licensePlate"
           type="button"
           (click)="switchVisible()">
              szerkeszt
        </a>
      </div>
    </div>
      <router-outlet></router-outlet>
  </div>
</div>
